<div class="movie-list-container">
  <app-carousel
    [title]="'Popular Movies'"
    [items]="popularMovies"
    [isExplore]="false"
    [exploreLink]="'/movies/popular'"
    [canNavigateLeft]="true"
    [canNavigateRight]="true">
  </app-carousel>

  <app-carousel
    [title]="'Top Rated Movies'"
    [items]="topRatedMovies"
    [isExplore]="false"
    [exploreLink]="'/movies/top-rated'"
    [canNavigateLeft]="true"
    [canNavigateRight]="true">
  </app-carousel>

  <app-carousel
    [title]="'Upcoming Movies'"
    [items]="upcomingMovies"
    [isExplore]="false"
    [exploreLink]="'/movies/upcoming'"
    [canNavigateLeft]="true"
    [canNavigateRight]="true">
  </app-carousel>
</div>
